:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --main-color: #212121;
  --secondary-color: #757575;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

/* ============= COMPONENTS ============= */
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.button {
  cursor: pointer;
}
/* ============= COMPONENTS END ============= */

/* ============= HEADER ============= */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo-first-word {
  color: #2196f3;
}

.nav-menu {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
/* ============= HEADER END ============= */

/* ============= HERO ============= */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero-button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
}

.hero-button:hover {
  background-color: #188ce8;
}
/* ============= HERO END ============= */

/* ============= ADVANTAGE ============= */
.advantage-list-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.advantage-list-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* ============= ADVANTAGE END ============= */

/* ============= OCCUPATION ============= */
.occupations-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
/* ============= OCCUPATION END ============= */

/* ============= TEAM ============= */
.team {
  background-color: #f5f4fa;
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.team-list-item {
  background-color: #ffffff;
}

.team-list-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list-item-description {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ============= TEAM END ============= */

/* ============= FOOTER ============= */
.footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

.footer-logo-first-word {
  color: #2196f3;
}

.footer-list-item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-tel-link,
.footer-mail-link {
  color: rgba(255, 255, 255, 0.6);
}
/* ============= FOOTER END ============= */

/* ============= PORTFOLIO FILTER ============= */
.portfolio-filter-button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
}

.portfolio-filter-button:hover {
  color: #ffffff;
  background-color: #188ce8;
}
/* ============= PORTFOLIO FILTER END ============= */

/* ============= PORTFOLIO GALLERY ============= */
.gallery-list-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-list-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/* ============= PORTFOLIO GALLERY END ============= */
